nav {
  ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      width: 25%;
      margin-right: -4px;

      a {
        display: block;
        font-family: "Ubuntu", sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        padding: 25px 15px;
        color: #333;
        text-align: center;

        &:hover {
          text-decoration: none;
          color: darken(#333, 10%);
        }
      }

      &.active {
        a {
          font-weight: bold;
          color: #fff;
        }
      }
    }
  }
}
