<section class="contact-details js_scroll-blue">
  <div class="row">
    <div class="col-md-12">
      <h1 class="hide-print">Experienced Front-End Developer <small class="visible-xs">David Tobin</small></h1>
      <h1 class="print">David Tobin - Front End Developer</h1>

      <hr />

      <div class="row">
        <div class="col-xs-12 col-md-6 ">
          <div class="picture">
            <img src="images/mugshot.jpg" class="round" />
          </div>
        </div>

        <div class="col-xs-12 col-md-6">
          <dl class="my-information">
            <dt class="hide-print">Name</dt>
            <dd class="hide-print">David Tobin</dd>

            <dt class="print">Website</dt>
            <dd class="print">http://davidtobin.me</dd>

            <dt>Phone</dt>
            <dd>+353 85 174 3632</dd>

            <dt>Email</dt>
            <dd>
              <a href="mailto:dtobin08@gmail.com" target="_blank">dtobin08@gmail.com</a>
            </dd>

            <dt>Github</dt>
            <dd>
              <a href="http://github.com/DavidTobin" target="_blank">http://github.com/DavidTobin</a>
            </dd>

            <dt>LinkedIn</dt>
            <dd>
              <a href="http://ie.linkedin.com/in/DavidTobinWeb" target="_blank">http://ie.linkedin.com/in/DavidTobinWeb</a>
            </dd>
          </dl>

          <div class="print-dialog hide-print pull-right" ng-if="showPrintDialog">
            <a href="javascript://" ng-click="openPrintDialog()">
              <small>Print CV</small>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="skills js_scroll-green">
  <h2>Skills</h2>

  <hr />

  <div class="row">
    <div class="col-md-4 col-xs-12">
      <h3>Client Side</h3>
      <p>
        HTML5, CSS3, Javascript.
      </p>
    </div>

    <div class="col-md-4 col-xs-12">
        <h3>Server Side</h3>
        <p>NodeJS, PHP, Ruby.</p>
     </div>

    <div class="col-md-4 col-xs-12">
        <h3>Frameworks</h3>
        <p>JQuery, AngularJS, BackboneJS (MarionetteJS), EmberJS, Bootstrap, Foundation, ExpressJS, Restify, Ruby on Rails, Symfony2, CodeIgniter.</p>
    </div>
  </div>

  <hr class="hidden-phone" />

  <div class="row">
    <div class="col-md-4">
      <h3>Environment</h3>
      <p>Linux, Ubuntu, Sublime Text 3, Git.</p>
    </div>

    <div class="col-md-4">
      <h3>Other</h3>
      <p>SQL, Selenium, OOP.</p>
    </div>

    <div class="col-md-4">
      <h3>Dabbled In</h3>
      <p>Java, C, Android.</p>
    </div>
  </div>
</section>

<section class="projects js_scroll-orange hide-print">
  <h2 id="projects-scroll">Projects</h2>

  <hr />

  <div class="row">
    <div class="col-md-4">
      <div class="slate green" ng-link="https://github.com/DavidTobin/Helt-web">
        <h3>Helt</h3>

        <p>In progress Health website.</p>

        <br />

        <p><strong>Technologies Used:</strong> Javascript, SCSS, HTML, AngularJS</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="slate orange" ng-link="http://davidtobin.me:3550">
        <h3>Chattr</h3>

        <p>Web Sockets Instant Messager. Available on Github.</p>

        <br />

        <p><strong>Technologies Used:</strong> HTML5, CSS, Javascript, Node.js, Socket.io</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="slate purple" ng-link="https://github.com/davidtobin">
        <h3>Github</h3>

        <p>Github contains some example code of mine.</p>

        <br />

        <p><strong>Technologies Used:</strong> N/A</p>
      </div>
    </div>
  </div>
</section>

<section class="experience js_scroll-purple">
  <h2 id="experience-scroll">Experience</h2>

  <hr />

  <div class="row">
    <div class="col-md-12">
      <h3>Gawker Media <small>2014 - Present</small></h3>

      <ul>
        <li>I am currently working as a Front End Developer for Gawker Media (Gawker, io9, Lifehacker, Kinja).</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Brightface <small>2013 - 2013 | { Via TopTal }</small></h3>

      <ul>
        <li>Created HTML5 pages from Photoshop design.</li>
        <li>Created PDF viewer using HTML5's Canvas element.</li>
        <li>Implemented crop tool which utilised an existing JQuery library which was modified to work with Canvas.</li>
        <li>Created a rotate tool which allowed for the contents within the Canvas element to be rotated.</li>
        <li>Connected with an MVC4 back end in order to facilitate a number of operations on the contents of the Canvas element.</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Fat Envelope <small>2013 - 2013 | { Via TopTal }</small></h3>

      <ul>
        <li>Recreated existing site to match supplied designs.</li>
        <li>Developed Javascript based background slideshow plugin.</li>
        <li>Created responsive mobile site from scratch.</li>
        <li>Implemented event logic for pausing, playing and finishing HTML5 videos.</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Material Wrld <small>2013 - 2013 | { Via TopTal }</small></h3>

      <ul>
        <li>Created pixel perfect HTML5/CSS3 pages from PSDs.</li>
        <li>Implemented a Live Feed of site events using XHR2.</li>
        <li>Standardised popup screens across the site, combining them into a single Stylus mixin.</li>
        <li>Developed a number of small Javascript libraries which are re-used across the site.</li>
        <li>Worked closely with the team to meet a strict deadline resulting in a successful launch.</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Confidential Work for Fortune 500 Company <small>2012 - 2012 | { Via TopTal }</small></h3>

      <ul>
        <li>Created HTML5 pages from Photoshop design.</li>
        <li>Created a pageless EmberJS application that hooked into a pre-existing RESTful API.</li>
        <li>Altered existing JQuery plugins to suit the projects needs.</li>
        <li>Created dummy service from sample data which provided the backend for the app.</li>
        <li>Allowed for responsive design which was aimed towards the iPhone and iPad.</li>
        <li>Integrated touch elements in specific places to allow for mobile integration.</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Full Stack Web Developer at Igneus Ltd. <small>2012 { Contract Role }</small></h3>

      <ul>
        <li>Created a feature full website for a solar energy company which utilised the latest best practices.</li>
        <li>Designed a system whereby their existing product range, maintained in Excel sheets, could be imported into the new MySQL based database.</li>
        <li>Developed an authentication system which allowed the owners access to an administration system in order to manage a catalog of products.</li>
        <li>Performed minor SEO work which resulted in first page listings for many important targeted keywords.</li>
        <li>System was developed using Symfony2</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>PHP Developer at Dragonbyte Technologies <small>2010-2011</small></h3>

      <ul>
        <li>Developed and maintained a number of addons for the vBulletin platform.</li>
        <li>Liased with customers to identify and fix bugs.</li>
      </ul>
    </div>
  </div>
</section>
